Can run all cell by cell from top to bottom

In [1]:
%pip install numpy pandas matplotlib datasets

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.25.2)
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.9.2)
Requirement already satisfied: datasets in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: filelock in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.15.4)
Requirement already satisfied: pyarrow>=15.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (17.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: requests>=2.32.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (4.66.5)
Requirement already satisfied: xxhash in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.6.1,>=2023.1.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from fsspec[http]<=2024.6.1,>=2023.1.0->datasets) (2024.6.1)
Requirement already satisfied: aiohttp in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (3.10.5)
Requirement already satisfied: huggingface-hub>=0.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (0.24.6)
Requirement already satisfied: pyyaml>=5.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from aiohttp->datasets) (1.11.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\appdata\roaming\python\python311\site-packages (from huggingface-hub>=0.22.0->datasets) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.32.2->datasets) (2024.8.30)
Requirement already satisfied: colorama in c:\users\user\appdata\roaming\python\python311\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
from datasets import load_dataset
import json

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[Competition] LLM Detect AI-Generated Text

0 - student

1- llm

In [3]:
path_comp_essay = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\[Competition] LLM Detect AI-Generated Text\train_essays.csv'

df_comp_essay = pd.read_csv(path_comp_essay)

In [4]:
columns_to_drop = ['prompt_id', 'id']
for column in columns_to_drop:
    if column in df_comp_essay.columns:
        df_comp_essay.drop(columns=[column], inplace=True)
        
df_comp_essay.rename(columns={'generated': 'label'}, inplace=True)
df_comp_essay.drop_duplicates(inplace=True)
df_comp_essay['source'] = 'competition-essay'

In [5]:
print(df_comp_essay.info())
df_comp_essay.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1378 entries, 0 to 1377
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1378 non-null   object
 1   label   1378 non-null   int64
 2   source  1378 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.4+ KB
None

                                                text  label             source
0  Cars. Cars have been around since they became ...      0  competition-essay
1  Transportation is a large necessity in most co...      0  competition-essay
2  "America's love affair with it's vehicles seem...      0  competition-essay
3  How often do you ride in a car? Do you drive a...      0  competition-essay
4  Cars are a wonderful thing. They are perhaps o...      0  competition-essay

[Personal] LLM Detect AI-Generated Text - sunilthite

0 - student

1 - llm

In [6]:
path_personal_sunilthite = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\[Personal] LLM Detect AI-Generated Text\[sunilthite] Training_Essay_Data.csv'

df_personal_sunilthite = pd.read_csv(path_personal_sunilthite)

In [8]:
print(df_personal_sunilthite.info())
df_personal_sunilthite.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29145 entries, 0 to 29144
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       29145 non-null  object
 1   generated  29145 non-null  int64
dtypes: int64(1), object(1)
memory usage: 455.5+ KB
None

                                                text  generated
0  Car-free cities have become a subject of incre...          1
1  Car Free Cities  Car-free cities, a concept ga...          1
2    A Sustainable Urban Future  Car-free cities ...          1
3    Pioneering Sustainable Urban Living  In an e...          1
4    The Path to Sustainable Urban Living  In an ...          1

In [9]:
df_personal_sunilthite.rename(columns={'generated': 'label'}, inplace=True)
df_personal_sunilthite['source'] = 'personal-sunilthite'

In [10]:
print(df_personal_sunilthite.info())
df_personal_sunilthite.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29145 entries, 0 to 29144
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    29145 non-null  object
 1   label   29145 non-null  int64
 2   source  29145 non-null  object
dtypes: int64(1), object(2)
memory usage: 683.2+ KB
None

,text,label,source
0,Car-free cities have become a subject of incre...,1,personal-sunilthite
1,"Car Free Cities Car-free cities, a concept ga...",1,personal-sunilthite
2,A Sustainable Urban Future Car-free cities ...,1,personal-sunilthite
3,Pioneering Sustainable Urban Living In an e...,1,personal-sunilthite
4,The Path to Sustainable Urban Living In an ...,1,personal-sunilthite

DAIGT Proper Train Dataset

0 - student 

1 - llm

In [11]:
path_daigt_01 = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\DAIGT Proper Train Dataset\train_drcat_01.csv'
path_daigt_02 = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\DAIGT Proper Train Dataset\train_drcat_02.csv'
path_daigt_03 = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\DAIGT Proper Train Dataset\train_drcat_03.csv'
path_daigt_04 = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\DAIGT Proper Train Dataset\train_drcat_04.csv'

df_daigt_01 = pd.read_csv(path_daigt_01)
df_daigt_02 = pd.read_csv(path_daigt_02)
df_daigt_03 = pd.read_csv(path_daigt_03)
df_daigt_04 = pd.read_csv(path_daigt_04)

In [12]:
if 'fold' in df_daigt_01.columns:
    df_daigt_01.drop(columns=['fold'], inplace=True)

columns_to_drop = ['essay_id', 'prompt', 'fold']
for column in columns_to_drop:
    if column in df_daigt_02.columns:
        df_daigt_02.drop(columns=[column], inplace=True)
    if column in df_daigt_03.columns:
        df_daigt_03.drop(columns=[column], inplace=True)
    if column in df_daigt_04.columns:
        df_daigt_04.drop(columns=[column], inplace=True)

df_daigt_01.drop_duplicates(inplace=True)
df_daigt_02.drop_duplicates(inplace=True)
df_daigt_03.drop_duplicates(inplace=True)
df_daigt_04.drop_duplicates(inplace=True)

In [13]:
print(df_daigt_01.info())
df_daigt_01.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33259 entries, 0 to 33258
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    33259 non-null  object
 1   label   33259 non-null  int64
 2   source  33259 non-null  object
dtypes: int64(1), object(2)
memory usage: 779.6+ KB
None

                                                text  label           source
0  There are alot reasons to keep our the despise...      0  persuade_corpus
1  Driving smart cars that drive by themself has ...      0  persuade_corpus
2  Dear Principal,\n\nI believe that students at ...      0  persuade_corpus
3  Dear Principal,\n\nCommunity service should no...      0  persuade_corpus
4  My argument for the development of the driverl...      0  persuade_corpus

In [14]:
print(df_daigt_02.info())
df_daigt_02.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39785 entries, 0 to 39784
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    39785 non-null  object
 1   label   39785 non-null  int64
 2   source  39785 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.6+ KB
None

                                                text  label           source
0  Okay, here is my essay:\n\nWorking or doing th...      1      llama2_chat
1  Dear Principal,\r\n\r\nI just want to let you ...      0    original_moth
2  I believe they should change the voting to pop...      0  persuade_corpus
3  One example of an inspiring individual who has...      1    chat_gpt_moth
4  Dear Mr. Principal,\n\nI believe that students...      0  persuade_corpus

In [15]:
print(df_daigt_03.info())
df_daigt_03.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42206 entries, 0 to 42205
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    42206 non-null  object
 1   label   42206 non-null  int64
 2   source  42206 non-null  object
dtypes: int64(1), object(2)
memory usage: 989.3+ KB
None

,text,label,source
0,People can learn without making mistakes. Peop...,0,original_moth
1,PHONES AND DRIVING\n\nIn this world in which w...,0,persuade_corpus
2,"Okay, here's my essay:\n\nMaking Your Own Deci...",1,llama2_chat
3,Dear : Principal\n\nI believe that allowing s...,1,mistral7binstruct_v2
4,Well for one if you seek more then one person ...,0,persuade_corpus

In [16]:
print(df_daigt_04.info())
df_daigt_04.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44206 entries, 0 to 44205
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    44206 non-null  object
 1   label   44206 non-null  int64
 2   source  44206 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None

,text,label,source
0,"In recent years, technology has had a profoun...",1,mistral7binstruct_v2
1,Should students participate in an extracurricu...,0,persuade_corpus
2,The electoral college is a symbol of mockery a...,0,train_essays
3,This is why I think the principle should allow...,0,persuade_corpus
4,I strongly believe that meditation and mindful...,1,llama_70b_v1

Merge all from above

In [17]:
# Merge all dataframes into one
df_daigt_merge = pd.concat([df_daigt_01, df_daigt_02, df_daigt_03, df_daigt_04, df_personal_sunilthite, df_comp_essay], ignore_index=True)

# Remove duplicate rows from the merged dataframe
df_daigt_merge.drop_duplicates(inplace=True)

# Reset index
df_daigt_merge.reset_index(drop=True, inplace=True)

In [18]:
print(df_daigt_merge.info())
df_daigt_merge.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75345 entries, 0 to 75344
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    75345 non-null  object
 1   label   75345 non-null  int64
 2   source  75345 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB
None

                                                text  label           source
0  There are alot reasons to keep our the despise...      0  persuade_corpus
1  Driving smart cars that drive by themself has ...      0  persuade_corpus
2  Dear Principal,\n\nI believe that students at ...      0  persuade_corpus
3  Dear Principal,\n\nCommunity service should no...      0  persuade_corpus
4  My argument for the development of the driverl...      0  persuade_corpus

In [19]:
unique_sources = df_daigt_merge['source'].unique()
unique_sources

array(['persuade_corpus', 'llammistral7binstruct', 'chat_gpt_moth',
       'llama2_chat', 'original_moth', 'falcon_180b_v1', 'train_essays',
       'llama_70b_v1', 'radek_500', 'mistral7binstruct_v2',
       'mistral7binstruct_v1', 'darragh_claude_v7', 'darragh_claude_v6',
       'personal-sunilthite', 'competition-essay'], dtype=object)

In [20]:
path_final = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset'

# Specify the path and filename
path_final = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\dataset_without_big_dataset.csv'

# Export the DataFrame to a CSV file
df_daigt_merge.to_csv(path_final, index=False)

maybe stop here cause adding the below making the dataset too big to be processed in short time

Load superbig dataset from huggingface (size of gigabye)

In [21]:
# Load the dataset
dataset = load_dataset("artem9k/ai-text-detection-pile")

# Specify the directory to save the dataset
save_dir = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\huggingface'  # Change to your desired path

# Save each split of the dataset to the specified location
for split in dataset.keys():
    dataset[split].to_csv(f"{save_dir}/{split}.csv", index=False)

Generating train split: 100%|██████████| 1392522/1392522 [00:22<00:00, 61108.49 examples/s]
Creating CSV from Arrow format: 100%|██████████| 1393/1393 [02:46<00:00,  8.35ba/s]

In [29]:
path_hf_big = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\huggingface\train.csv'

df_hf = pd.read_csv(path_hf_big)

In [30]:
print(df_hf.info())
df_hf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1392522 entries, 0 to 1392521
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   source  1392522 non-null  object
 1   id      1392522 non-null  int64
 2   text    1392362 non-null  object
dtypes: int64(1), object(2)
memory usage: 31.9+ MB
None

  source  id                                               text
0  human   0  12 Years a Slave: An Analysis of the Film Essa...
1  human   1  20+ Social Media Post Ideas to Radically Simpl...
2  human   2  2022 Russian Invasion of Ukraine in Global Med...
3  human   3  533 U.S. 27 (2001) Kyllo v. United States: The...
4  human   4  A Charles Schwab Corporation Case Essay\n\nCha...

In [32]:
temp = df_hf['source'].unique()
temp

array(['human', 'ai'], dtype=object)

In [33]:
# Drop specified columns
columns_to_drop = ['id']
if 'id' in df_hf.columns:
    df_hf.drop(columns=columns_to_drop, inplace=True)  # You can use the list directly

# Rename 'source' column to 'label'
df_hf.rename(columns={'source': 'label'}, inplace=True)

# Remove duplicates
df_hf.drop_duplicates(inplace=True)
df_hf.reset_index(drop=True, inplace=True)

# Replace values in 'label' column and convert to int64
df_hf['label'] = df_hf['label'].replace({'human': 0, 'ai': 1}).astype('int64')

# Add or update 'source' column
df_hf['source'] = 'artem9k/ai-text-detection-pile'  # This is correct

C:\Users\User\AppData\Local\Temp\ipykernel_8624\2875137141.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_hf['label'] = df_hf['label'].replace({'human': 0, 'ai': 1}).astype('int64')

In [36]:
# Remove rows where 'text' is null
df_hf.dropna(subset=['text'], inplace=True)
df_hf.reset_index(drop=True, inplace=True)

In [37]:
print(df_hf.info())
df_hf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385870 entries, 0 to 1385869
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   label   1385870 non-null  int64
 1   text    1385870 non-null  object
 2   source  1385870 non-null  object
dtypes: int64(1), object(2)
memory usage: 31.7+ MB
None

,label,text,source
0,0,12 Years a Slave: An Analysis of the Film Essa...,artem9k/ai-text-detection-pile
1,0,20+ Social Media Post Ideas to Radically Simpl...,artem9k/ai-text-detection-pile
2,0,2022 Russian Invasion of Ukraine in Global Med...,artem9k/ai-text-detection-pile
3,0,533 U.S. 27 (2001) Kyllo v. United States: The...,artem9k/ai-text-detection-pile
4,0,A Charles Schwab Corporation Case Essay\n\nCha...,artem9k/ai-text-detection-pile

In [35]:
print(df_daigt_merge.info())
df_daigt_merge.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75345 entries, 0 to 75344
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    75345 non-null  object
 1   label   75345 non-null  int64
 2   source  75345 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB
None

                                                text  label           source
0  There are alot reasons to keep our the despise...      0  persuade_corpus
1  Driving smart cars that drive by themself has ...      0  persuade_corpus
2  Dear Principal,\n\nI believe that students at ...      0  persuade_corpus
3  Dear Principal,\n\nCommunity service should no...      0  persuade_corpus
4  My argument for the development of the driverl...      0  persuade_corpus

In [38]:
# Merge all dataframes into one
df_final = pd.concat([df_hf, df_daigt_merge], ignore_index=True)

# Remove duplicate rows from the merged dataframe
df_final.drop_duplicates(inplace=True)

# Reset index
df_final.reset_index(drop=True, inplace=True)

In [39]:
path_final = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset'

# Specify the path and filename
path_final = r'E:\2_LEARNING_BKU\2_File_2\K22_HK241\CO3101_Do_an_Tri_tue_nhan_tao\Main\Dataset\dataset_final.csv'

# Export the DataFrame to a CSV file
df_hf.to_csv(path_final, index=False)